aniso8601==8.0.0
astroid==2.3.3
autopep8==1.5
Click==7.0
contextlib2==0.5.5
Flask==1.1.1
Flask-RESTful==0.3.7
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
ortools==7.4.7247
protobuf==3.11.2
pycodestyle==2.5.0
pylint==2.4.4
pytz==2019.3
schema==0.7.1
six==1.14.0
typed-ast==1.4.1
Werkzeug==0.16.0
wrapt==1.11.2
